Repository GlotPress/GlotPress, pull requests merged in 2020-05, with the labels that each got.

#1102 Improve translation preview rows
  assets/css/style.css
  assets/css/style.min.css
  gp-includes/assets-loader.php
  gp-includes/template.php
  gp-templates/translation-row-preview.php
  tests/phpunit/testcases/test_template.php
Labels: [Type] Enhancement

#1103 Route: Don't escape exit output as it may contain HTML
  gp-includes/route.php
Labels: [Type] Bug

#1104 Add missing attribute quote
  gp-templates/project.php
Labels: [Type] Bug

#1106 Translations: Remove default sorting for untranslated view
  gp-templates/translations.php
Labels: [Type] Enhancement

#1107 Links: Add missing docs and remove use of call_user_func_array()
  gp-includes/template-links.php
  gp-includes/url.php
  phpcs.xml.dist
Labels: [Type] Enhancement

#1105 Strings Format: Use context as key
  gp-includes/formats/format-strings.php
  tests/phpunit/data/originals.16le.strings
  tests/phpunit/data/originals.strings
  tests/phpunit/data/translation.strings
  tests/phpunit/testcases/tests_formats/test_format_strings.php
Labels: [Type] Bug

#1108 Use spread operator in gp_tmpl_get_output()
  gp-includes/template.php
Labels: [Type] Enhancement

#1109 Use spread operator in GP_Thing::_no_map()
  gp-includes/thing.php
Labels: [Type] Enhancement

#1110 Use spread operator in Testable_GP_Format_PO::__call()
  tests/phpunit/testcases/tests_formats/test_format_pomo.php
Labels: [Type] Enhancement

#1111 Projects: Set error notice before performing the redirect.
  gp-includes/routes/project.php
Labels: [Type] Bug

#1112 Use spread operator in gp_set_cookie()
  gp-includes/misc.php
Labels: [Type] Enhancement

#1113 Improve type declaration for export format
  gp-includes/routes/translation.php
Labels: [Type] Bug

#1114 Replace `call_user_func_array()` in `GP_Validation_Rules::run_on_single_field()`
  gp-includes/validation.php
Labels: [Type] Performance

#1115 Replace `call_user_func_array()` in `GP_Router::route()`
  gp-includes/router.php
Labels: [Type] Performance

#1116 Use variable functions in `GP_Translation_Warnings::check()`
  gp-includes/warnings.php
Labels: [Type] Performance

#1117 Use variable functions in `GP_Route_Translation::edit_single_translation()`
  gp-includes/routes/translation.php
Labels: [Type] Performance

#1119 Update minimum required PHP version to 7.2
  .travis.yml
  composer.json
  composer.lock
  glotpress.php
  phpcs.xml.dist
Labels: [Type] Build Tooling

#1120 Use variable functions in `GP_UnitTest_Factory_Callback_After_Create::call()`
  tests/phpunit/lib/factory.php
Labels: [Type] Performance

#1121 Translations: Add a 'Translated' filter to match table column
  gp-templates/translations.php
Labels: [Type] Enhancement

#1122 Update required WP and PHP versions in readme template
  bin/readme.template
Labels: [Type] Build Tooling

#1126 Introduce the spread operator in `gp_array_zip()`.
  gp-includes/misc.php
Labels: [Type] Performance

#1124 Introduce the spread operator in `gp_url_join()`.
  gp-includes/url.php
Labels: [Type] Performance

#1123 Remove all compat functions for multibyte string functions.
  gp-includes/strings.php
  gp-includes/things/original.php
  gp-includes/warnings.php
  gp-templates/helper-functions.php
Labels: [Type] Performance

#1125 Introduce the spread operator in `GP_Thing()` methods.
  gp-includes/thing.php
  gp-includes/things/glossary-entry.php
  gp-includes/things/translation-set.php
  gp-includes/things/translation.php
Labels: [Type] Performance

#1127 Locales: Fix country code for Tahitian.
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1128 Locales: Fix country code for Tajik.
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1129 Locales: Remove extra parenthesis.
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1130 Locales: Update formatting of plural expression for Russian and Rusyn.
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1131 Locales: Update formatting of plural expression for Ukrainian.
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1132 Locales: Add missing plural forms for French locales.
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1133 Locales: Add country code for Aymara.
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1134 Locales: Update formatting of plural expression for Lower/Upper Sorbian.
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1135 Locales: Update formatting of plural expressions for Slovak and Slovenian.
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1136 Locales: Update formatting of plural expression for Romanian.
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1137 Locales: Update formatting of plural expression for Scottish Gaelic.
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1138 Locales: Update formatting of plural expression for Croatian.
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1139 Locales: Update formatting of plural expression for Serbian.
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1141 Locales: Simplify plural expression for Icelandic.
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1140 Locales: Update formatting of plural expression for Maltese.
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1142 Locales: Update formatting of plural expression for Lingala.
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1143 Locales: Update plural expression for Latvian.
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1144 Locales: Update formatting of plural expressions for Arabic locales.
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1145 Locales: Update formatting of plural expression for Bosnian.
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1147 Locales: Update formatting of plural expression for Belarusian.
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1146 Locales: Update formatting of plural expression for Czech.
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1148 Locales: Update formatting of plural expression for Lithuanian.
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1149 Locales: Update plural expression for Polish.
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1150 Locales: Update plural expression for Irish.
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1151 Locales: Update formatting of plural expression for Macedonian
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1152 Locales: Remove default plural expression for Fulah.
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1153 Locales: Add plural expression for Inuktitut.
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1156 Locales: Add missing parenthesis in native name for German (Austria).
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1155 Locales: Remove wp_locale from currently unsupported locales in WordPress
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1154 Locales: Add wp_locale for Aragonese.
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1157 Locales: Add definiton for Nigerian Pidgin.
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1100 Add test setup for GP_Locales
  composer.json
  composer.lock
  phpunit.xml.dist
  tests/phpunit/bootstrap.php
  tests/phpunit/testcases/test_locales.php
Labels: [Type] Build Tooling

#1161 Locales: Add definiton for Spanish (Uruguay).
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1162 Locales: Add definiton for Cornish.
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1165 Locales: Add definition for Bengali (India).
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1163 Locales: Add definition for Ligurian
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1164 Locales: Add definition for Borana-Arsi-Guji Oromo
  locales/locales.php
  locales/no-variants/locales.php
Labels: [Type] Locales

#1166 Test number of plurals for locales
  tests/phpunit/testcases/test_locales.php
Labels: [Type] Locales

#1017 Add "Portuguese (Portugal, AO90)" variant
  locales/locales.php
Labels: [Type] Locales

#1170 Restore escaping for extracted comments
  gp-includes/default-filters.php
Labels: [Type] Bug
